block vars
  - var pageClasses = []
doctype html
html
  head
    title
    // Viewport mobile tag for sensible mobile support
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    //
      Stylesheets and Preprocessors
      ==============================
      You can always bring in CSS files manually with `<link>` tags, or asynchronously
      using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
      of Sails' conventional asset pipeline (boilerplate Gruntfile).
      By default, stylesheets from your `assets/styles` folder are included
      here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
      are supported. In production, your styles will be minified and concatenated into
      a single file.
      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:
      + Change the order of your CSS files
      + Import stylesheets from other directories
      + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    // STYLES
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css')
    link(rel='stylesheet', href='/styles/importer.css')
    link(rel='stylesheet', href='/styles/app.css')
    // STYLES END
    // Semantic UI (JS)
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.slim.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js')
    // Angular 2
    script(src='node_modules/es6-shim/es6-shim.min.js')
    script(src='node_modules/systemjs/dist/system-polyfills.js')
    script(src='node_modules/angular2/bundles/angular2-polyfills.js')
    script(src='node_modules/systemjs/dist/system.src.js')
    script(src='node_modules/rxjs/bundles/Rx.js')
    script(src='node_modules/angular2/bundles/angular2.dev.js')
    script.
      System.config({
        map: {
          rxjs: 'node_modules/rxjs' // added this map section
        },
        packages: {
          app: {
            format: 'register',
            defaultExtension: 'js'
          },
          'rxjs': {defaultExtension: 'js'} // and added this to packages
        }
      });
      System.import('/app/main').then(null, console.error.bind(console));
  body(class=(pageClasses || []).join(' '))
    nav.ui.fixed.inverted.menu
      .ui.container
        a.header.item Coalesce
        a.item Get Involved
        if req.session.authenticated
          .ui.simple.dropdown.item.right
            = req.session.user.auth.name
            i.dropdown.icon
            .menu
              a.item(href='/auth/logout') Log Out
        else
          a.item.blue.active.right(href='/auth/login?type=facebook') Connect
        .item.right.mobile.tablet.only.ct__mobilemenu__button__wrap.js-sidebar-toggle
          .ct__mobilemenu__button
            span.top
            span
    sidebar.ui.sidebar.inverted.vertical.menu.ct__sidebar.js-sidebar
      a.item 1
      a.item 1
      a.item 1
    block body-content
    script(src="/js/dependencies/sails.io.js")
    script.
      $('.js-sidebar-toggle').on('click', function(e) {
        var self = $(this)
          , button = self.find('.ct__mobilemenu__button');
        button.toggleClass('active');
        $('.js-sidebar').sidebar('toggle');
      });
