@import 'components/fonts.less';
@import 'components/responsive.less';
@import 'components/table.less';
@import 'components/ng/coverslider.less';

body {
  font-family: Tahoma,Verdana,Arial;
}

.ct__sidebar {
  // z-index: 102 !important;
  padding-top: 40px;
}

.ct__mobilemenu__button__wrap {
  padding: 22px 21px;
  float: left;
  z-index: 1;
  position: relative;
  .ct__mobilemenu__button {
    margin: 0;
    cursor: pointer;
    width: 18px;
    height: 13px;
    position: relative;
    span {
      display: block;
      height: 2px;
      width: 100%;
      background: #efefef;
      position: absolute;
      bottom: 0;
      left: 0;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
    }
    span.top {
      top: 0;
    }
    &.active {
      span {
        transform: rotate(45deg) translate(-4px, -4px);
        -webkit-transform: rotate(45deg) translate(-4px, -4px);
        -moz-transform: rotate(45deg) translate(-4px, -4px);
        -o-transform: rotate(45deg) translate(-4px, -4px);
        -ms-transform: rotate(45deg) translate(-4px, -4px);
      }
      span.top {
        transform: rotate(-45deg) translate(-4px, 4px);
        -webkit-transform: rotate(-45deg) translate(-4px, 4px);
        -moz-transform: rotate(-45deg) translate(-4px, 4px);
        -o-transform: rotate(-45deg) translate(-4px, 4px);
        -ms-transform: rotate(-45deg) translate(-4px, 4px);
      }
    }
  }
}

.ct__landingpage {
  > nav.ui.inverted.menu {
    background-color: rgba(27, 28, 29, .8);
  }
}
